<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="First Suite" verbose="1">
	<test name = "EdgeTests">
		<parameter name="browser" value="edge"></parameter>
		<packages>
			<package name = "com.infy.selenium.crossbrowsertesting.*"/>
		</packages>
	</test>
	<test name = "ChromeTests">
		<parameter name="browser" value="chrome"></parameter>
		<packages>
			<package name = "com.infy.selenium.crossbrowsertesting.*"/>
		</packages>
	</test>
</suite>	